body
{

  font-family: 'Noto Sans TC', sans-serif;
  font-weight: bold;
}
h1
{

  text-align: center;
}

.scrollpane
{
  height:120px;
  width:500px;
  border:2px solid black;
  #ccc;
  background-color:#4286f4;
  color: black;
  font:16px/26px
  font-family: 'Noto Sans TC', sans-serif;
  f;
  overflow:auto;
  font-weight: normal;
}

.content {
    max-width: 500px;
    margin: auto;
  }
.toolbar-custom
{
    text-align: center;
    

    font-family: 'Noto Sans TC', sans-serif;


}
